th {
    background-color: hsl(0, 0%, 30%);
    border: 1px solid #000;
    padding: 2px 3px;
    vertical-align: top;
    text-align: center;
}

td {
    /* border-bottom: 1px solid #000000;
    border-right: 1px solid #000000; */
    border: 1px solid #000;
    padding: 2px 3px;
    vertical-align: top;
    text-align: center;
}